COMPOSE_PROJECT_NAME=php_mysql_env
APP_ENV=dev
APP_DEBUG=0

NGINX_PORT=8080
MYSQL_PORT=3307
PHPMYADMIN_PORT=8081

MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=db_name
MYSQL_USER=user_name
MYSQL_PASSWORD=change_me
